<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
    body, html {
        height: 100%;
        margin: 0;
    }

    .bg {
        /* Full height */
        height: 93%;
    }
</style>
<body style="background-color: ghostwhite">
<div class="topnav">
    <a th:href="@{/}">Online Vitamin Store</a>
    <a th:href="@{/register}" style="float: right">SignUp</a>
    <a class="active" th:href="@{/login}" style="float: right">SignIn</a>
</div>

<div class="bg" th:style="'background: url(/images/login-bg.jpg);background-position: top;'">
    <div class="jumbotron jumbotron-fluid" style="background-color: transparent">
        <h1 style="text-align: center; font-family: fangsong;" class="login">SignIn</h1>
        <br>
        <div class="container">
            <p th:if="${error}" class="error" style="text-align: center;color: red">Wrong username or password</p>
            <form th:action="@{/login}" method="POST">
                <div class="form-group">
                    <input type="text" name="username" id="username" class="form-control input-lg"
                           placeholder="Enter your username" required="true" autofocus="true"/>
                </div>

                <div class="form-group">
                    <input type="password" name="password" id="password" class="form-control input-lg"
                           placeholder="Enter your Password" required="true"/>
                </div>
                <div class="row">
                    <div class="col-sm-3" style="float: none; margin: 0 auto;">
                        <input type="submit" class="btn btn-primary btn-block" value="Login"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>